<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Tailwind -->
<script src="https://cdn.tailwindcss.com"></script>
<!-- Compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
<!-- materialize -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>         
<!-- Public Style Sheet -->
<link rel="stylesheet" href="/public/css/app.css">   
<title>Well Read BookClub app</title>
</head>
<body>
    <nav class="flex items-center justify-between flex-wrap bg-white ">
        <div class=" flex items-center text-stone-900 ">
          <span class="font-semibold text-xl ">Well Read Book Club</span>
        </div>
        <div class="flex-grow flex items-center justify-between">
          <div class="text-sm flex items-center">
            <a href="#responsive-header" class="block lg:inline-block text-stone-900 hover:text-white mr-4">
              Books Read
            </a>
            <a href="#responsive-header" class="block lg:inline-block text-stone-900 hover:text-white mr-4">
              Currently Reading
            </a>
            <a href="#responsive-header" class="block lg:inline-block text-stone-900 hover:text-white">
              Want to Read
            </a>
          </div>
          <div class="flex items-center">
            <a href="/users/register" class="block lg:inline-block text-stone-900 hover:text-white">
              Sign Up
            </a>
            <a href="/users/signin" class="block lg:inline-block text-stone-900 hover:text-white">
              Sign In
            </a>
            <a href="/users/signout" class="block lg:inline-block text-stone-900 hover:text-white">
              Sign Out
            </a>
          </div>
          </div>
        </div>
      </nav>
     <br>
</body>