<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<link rel= "stylesheet" href= "/public/css/app.css">
<!-- Tailwind -->
<script src="https://cdn.tailwindcss.com"></script> 
<title>Well Read BookClub app</title>
</head>
<body>
  <nav class="bg-white flex items-center justify-between p-4">
    <span class="font-semibold text-xl"><a href="http://localhost:3000/wellread/index"> Well Read Book Club</a></span>
    <ul class="flex items-center">
      <li>
        <a href="#responsive-header" class="text-sm text-stone-900 hover:text-yellow-600 mx-2">
          Books Read
        </a>
      </li>
      <li>
        <a href="#responsive-header" class="text-sm text-stone-900 hover:text-yellow-600 mx-2">
          Currently Reading
        </a>
      </li>
      <li>
        <a href="#responsive-header" class="text-sm text-stone-900 hover:text-yellow-600 mx-2">
          Want to Read
        </a>
      </li>
    </ul>
    <ul class="flex items-center">
      <li>
        <a href="/users/register" class="text-stone-900 hover:text-yellow-600 mx-2">
          Sign Up
        </a>
      </li>
      <li>
        <a href="/users/signin" class="block lg:inline-block text-stone-900 hover:text-yellow-600 mx-2">
          Sign In
        </a>
      </li>
      <li>
        <a href="/users/signout" class="block lg:inline-block text-stone-900 hover:text-yellow-600 mx-2">
          Sign Out
        </a>
      </li>
    </ul>
  </nav>
     <br>
</body>