<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdn.tailwindcss.com"></script>

<title>Well Read BookClub app</title>
</head>
<body>
    <nav class="flex items-center justify-between flex-wrap bg-white p-6">
        <div class="flex items-center flex-shrink-0 text-stone-900 mr-6">
          <span class="font-semibold text-xl tracking-tight">Well Read Book Club</span>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
          <div class="text-sm lg:flex-grow">
            <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-stone-900 hover:text-white mr-4">
              Books Read
            </a>
            <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-stone-900 hover:text-white mr-4">
              Currently Reading
            </a>
            <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-stone-900 hover:text-white">
              Want to Read
            </a>
          </div>
          <div>
            <a href="/users/register" class="block mt-4 lg:inline-block lg:mt-0 text-stone-900 hover:text-white">
              Sign Up
            </a>
            <a href="/users/signin" class="block mt-4 lg:inline-block lg:mt-0 text-stone-900 hover:text-white">
              Sign In
            </a>
            <a href="/users/signout" class="block mt-4 lg:inline-block lg:mt-0 text-stone-900 hover:text-white">
              Sign Out
            </a>
          </div>
          </div>
        </div>
      </nav>
     
</body>