<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
        <h1 class = "text-center text-yellow-600 tracking-wide font-light text-5xl font-sans r">FIND INSPIRATION IN EVERY BOOK AND IN EVERY PAGE</h1>
        <div class="bg-cover" style="background-image: url('https://images.unsplash.com/photo-1536965764833-5971e0abed7c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');"></div>

   
</body>
</html>