<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <title>Document</title>
</head>
<body class= "backdrop-blur-sm bg-no-repeat bg-center bg-cover" style="background-image: url('https://images.pexels.com/photos/10159325/pexels-photo-10159325.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
    <div class="h-screen flex items-center justify-center">
        <h1 class = "text-center text-yellow-700 tracking-wide font-light text-5xl font-sans bg-orange-100/80 w-full h-14">FIND INSPIRATION IN EVERY BOOK AND IN EVERY PAGE</h1>
        <div class="bg-cover" style="background-image: url('https://images.unsplash.com/photo-1536965764833-5971e0abed7c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');"></div>
    </div>
   
</body>
</html>