<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
</head>
<body>
    <h1>New Books Page</h1>
    <div class="flex items-center justify-center">
    <form action = "/wellread/" method="POST">
            <label for="title">title</label><br>
            <input type="text" id="title" name="title"><br>
            <label for="author">author</label><br>
            <input type="text" id="author" name="author"><br>
            <label for="genre">genre</label><br>
            <input type="text" id="genre" name="genre"><br>
            <label for="pages">pages</label><br>
            <input type="text" id="pages" name="pages"><br>
            <label for="review">review</label><br>
            <input type="text" id="review" name="review"><br>
            <label for="rating">rating</label><br>
            <input type="number" id="rating" name="rating"><br>
            <input type="submit" value="Submit" class="cursor-pointer">     
    </form>
    </div>
</body>
</html>