<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
</head>
<body  >
    <h1>New Books Page</h1>
    
    <form action = "/wellread/" method="POST">
            <label for="title">Title</label><br>
            <input type="text" id="title" name="title" class="border border-amber-600 rounded-md" ><br>
            <label for="author">Author</label><br>
            <input type="text" id="author" name="author" class="border border-amber-600 rounded-md"><br>
            <label for="genre">Genre</label><br>
            <input type="text" id="genre" name="genre" class="border border-amber-600 rounded-md"><br>
            <label for="pages">Pages</label><br>
            <input type="text" id="pages" name="pages" class="border border-amber-600 rounded-md"><br>
            <label for="review">Review</label><br>
            <input type="text" id="review" name=" review"class="border border-amber-600 rounded-md"><br>
            <label for="rating">Rating</label><br>
            <input type="number" id="rating" name="rating"class="border border-amber-600 rounded-md"><br>
            <input type="submit" value="Submit" class="cursor-pointer">     
    </form>

</body>
</html>