<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
    <title>User Registration</title>
</head>
<body>
    <h1 class ="flex items-center justify-center">Register</h1>
    <div class=" flex items-center justify-center">
    <form class="input-field col s6 class=" action="" method="POST" >
        <fieldset>
            <label for="username">Username:</label>
            <input type="text" name="username">
        </fieldset>
        <fieldset>
            <label for="password">Password:</label>
            <input type="password" name="password">
        </fieldset>
        <input class="cursor-pointer" type="submit" value="Sign Up">  
    </form>
    </div>
</body>
</html>