<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
    <title>User Sign-In</title>
</head>
<body class="">
    <h1 class="flex items-center justify-center ">Login</h1>
    <div class="flex items-center justify-center">
    <form class="input-field col s6" action="/users/signin" method="POST">
        <fieldset>
            <label for="username">Username:</label>
            <input type="text" name="username">
        </fieldset>
        <fieldset>
            <label for="password">Password:</label>
            <input type="password" name="password">
        </fieldset>
        <input class="cursor-pointer" type="submit" value="Sign In">  
    </form>
    </div>
</body>
</html>