<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
    <title>User Sign-In</title>
</head>
<br>
<body class = "object-center">
    <h1 class="flex items-center justify-center mb-4 ">Please login to your account</h1>
    <div class="flex items-center justify-center">
    <form class="input-field col s6" action="/users/signin" method="POST">
        <fieldset class ="mb-4">
            <label for="username"></label>
            <input type="text" placeholder="Username"name="username" class="border border-amber-600 rounded-md">
        </fieldset>
        <fieldset class ="mb-4">
            <label for="password"></label>
            <input type="password" placeholder="Password" name="password" class="border border-amber-600 rounded-md">
        </fieldset>
        <input class="cursor-pointer bg-amber-600 inline-block px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-amber-700 hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out w-full mb-3" type="submit" value="Sign In">  
    </form>
    </div>
</body>
</html>